@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #111827;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-plus-jakarta);
  --font-bangla: var(--font-bangla);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-plus-jakarta),
    sans-serif;
}
@page {
  size: 100mm 150mm;
  margin: 0;
}

html,
body {
  margin: 0;
  padding: 0;
}

@media print {
  html,
  body {
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
    height: auto;
    background: white;
  }

  body * {
    visibility: hidden;
  }

  .shipping-label,
  .shipping-label * {
    visibility: visible;
  }

  .shipping-label {
    position: relative;
    width: 100mm !important;
    height: 150mm !important;

    margin: 0 !important;

    page-break-after: always;
    break-after: page;

    overflow: hidden;
  }

  .shipping-label:last-child {
    page-break-after: auto;
  }
}
@media print {

  header {
    display: none !important;
  }

  footer {
    display: none !important;
  }

}